header {
  width: 100vw;
  min-height: fit-content;
  background-color: rgb(101, 173, 101);
  position: fixed;
  z-index: 9999;

  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;

    h1 {
      color: #fefefe;
    }
  }
}

@media screen and(max-width:690px) {
  header {
    .content {
      padding: 10px 0;
      width: 100%;

      h1 {
        text-align: center;
        font-size: 22px;
      }

      img {
        display: none;
      }
    }
  }
}
