header{
    max-width: 100vw;
    min-height: fit-content;
    background-color: rgb(101, 173, 101);
    .content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        margin: auto;
        h1{
            color: #fefefe;
        }
    }
}

@media screen and(max-width:690px) {
    header{
        .content{
            padding: 20px;
        
        flex-direction: column;
        h1{
            text-align: center;
        }
        }
    }
}